########################################################
## Requirements for deploying and running KPIMonitore ##
########################################################

1) Oracle DB 11gRelease2
   http://www.oracle.com/technetwork/database/database-technologies/express-edition/downloads/index.html

2) Python 3.4.3
   https://www.python.org/downloads/release/python-343/

3) Update pip and installers
	> pip install -U pip
	> pip install -U setuptools
	> pip install -U virtualenv

3) Django 1.10
   https://www.djangoproject.com/download/
	> pip install django

5) pytz - date-time library (list of timezones https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
   https://pypi.python.org/pypi/pytz?
	> pip install pytz

4) Microsoft Visual C++ tools
   http://landinghub.visualstudio.com/visual-cpp-build-tools

5) 